<!DOCTYPE html>
<html lang="en">
  {% include "shared/head" %}
  <body id="{{slug}}" data-spy="scroll" data-target="#navcolumn" data-offset="100">
    {% include "shared/header" %}
    <div class="container">
      <div class="row">
        <div class="span3" id="navcolumn">
          <div class="affix">
          <h4>Contents</h4>
          <ul class="nav nav-pills nav-stacked">
            {% for section in sections %}
              <li {% if forloop.first %} class="active" {% endif %}>
                <a href="#{{section.title | sanitize}}">{{section.title}}</a>
              </li>
            {% endfor %}
          </ul>
          <form class="form-search">
            <script type="text/javascript">
              var section_map = {
                {% for section in sections %}
                  {% for entry in section.entries %}
                    {{entry.title | json}} : {{entry.title | sanitize | json}},
                  {% endfor %}
                  {{section.title | json}} : {{section.title | sanitize | json}}
                  {% unless forloop.last %},{% endunless %}
                {% endfor %}
              };
              var section_names = $.map(section_map, function(v,k){return k});
              $(function(){
                $('#searchbox').typeahead({source: section_names})
                $('#searchbox').change(function() {
                  if ($(this).val() in section_map) {
                    location.hash = '#' + section_map[$(this).val()];
                  }
                });
              });
            </script>
            <input type="text"
                   class="input-medium search-query"
                   placeholder="Search"
                   autocomplete="off"
                   id="searchbox">
          </form>
          </div>
        </div>
        <div class="span9">
          <h1>{{headline}}</h1>
          {{ body | markdownify }}
          {% for section in sections %}
            <section id="{{section.title | sanitize}}">
              <h2>{{section.title}}</h2>
              {{section.body | markdownify}}
              {% for entry in section.entries %}
                <section id="{{entry.title | sanitize}}">
                <h3>
                  {{entry.title | markdownify}}
                  {% if entry.subtitle %}<small>{{entry.subtitle}}</small>{% endif %}
                </h3>
                {{entry.body | markdownify}}

                {% if entry.examples %}
                  <div>
                    {% capture exampleID %}{{ "" | unique }}{% endcapture %}
                    <a data-toggle="collapse" href="#example{{exampleID}}">
                      <i class="icon-chevron-right"></i>
                      {% if entry.examples[1] %}Examples{%else%}Example{%endif%}
                    </a>
                    <div id="example{{exampleID}}" class="collapse">
                      
                    {% for example in entry.examples %}
                      <table class="manual-example">
                        <tr><th></th><td class="jqprogram">jq '{{example.program}}'</td></tr>
                        <tr><th>Input</th><td>{{example.input}}</td></tr>
                        {% unless example.output[0] %}
                          <tr>
                            <th>Output</th>
                            <td><i>none</i></td>
                          </tr>
                        {% endunless %}
                        {% for output in example.output %}
                          <tr>
                            {% if forloop.index == 1 %}
                              <th>Output</th>
                            {% else %}
                              <th></th>
                            {% endif %}
                            <td>{{output}}</td>
                          </tr>
                        {% endfor %}
                        
                      </table>
                    {% endfor %}
                    </div>
                  </div>
                 {% endif %}
                 </section>
              {% endfor %}
            </section>
          {% endfor %}
        </div>
      </div>
      

    </div>
      {% include "shared/footer" %}    
  </body>


</html>
